footer {
  flex: 0 0 auto;
}

.footer {
  background-color: $athens-gray;
  &__main {
    padding: 40px 0;
    .container {
      display: flex;
      align-items: flex-start;
      @media screen and (max-width: $tablet-size) {
        flex-wrap: wrap;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-right: 130px;
    max-width: 215px;
    @media screen and (max-width: $tablet-size) {
      flex: 0 0 226px;
      width: 226px;
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    & > * {
      margin: 15px 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__contacts {
    margin-left: auto;
    text-align: right;
    margin-bottom: 20px;
    @media screen and (max-width: $tablet-size) {
      display: none;
    }
    &-mobile {
      display: none;
      justify-content: space-between;
      width: 100%;
      @media screen and (max-width: $tablet-size) {
        display: flex;
      }
    }
  }
  &__navigation {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    @media screen and (max-width: $tablet-size) {
      flex: 1;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__phones {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    & > * {
      margin: 4px 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__phone {
    color: $mine-shaft;
    font-size: 20px;
    font-weight: 600;
  }
  &__mail {
    color: $mine-shaft;
  }
  &__address {
    line-height: 1.79;
  }
  &__socials {
    padding-bottom: 30px;
    .youtube {
      @media screen and (max-width: $tablet-size) {
        display: none;
      }
    }
    .container {
      display: flex;
      align-items: center;
    }
  }
  &__bottom {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px 0;
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @media screen and (max-width: $tablet-size) {
        font-size: 12px;
        line-height: 1.67;
      }
      & > * {
        flex: 0 0 45%;
        width: 45%;
      }
    }
  }
  &__personal-data {
    color: $oslo-gray;
  }
  &-nav {
    &__item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      color: $mine-shaft;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  &__item {
    margin-right: 50px;
  }
  &__link {
    display: flex;
    align-items: center;
    & > * {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__icon {
    width: 30px;
    height: 30px;
    border-radius: 4px;
  }
  &__name {
    color: $oslo-gray;
  }
}

.youtube {
  display: flex;
  align-items: center;
  margin-left: auto;
  img {
    width: 100px;
    height: 30px;
    border-radius: 4px;
  }
  @media screen and (max-width: $tablet-size) {
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  & > * {
    margin-right: 20px;
    @media screen and (max-width: $tablet-size) {
      margin-right: 0;
      margin-bottom: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
