// Colors
$white: #ffffff;
$black: #000000;
$silver: #cccccc;

$mine-shaft: #262626;
$athens-gray: #eef2f4;
$tundora: #4b4b4b;
$silver-chalice: #a9a9a9;
$blaze-orange: #ff6d00;
$wild-sand: #f6f6f6;
$alto: #dddddd;
$mid-grey: #6e6e6f;
$dusty-gray: #999999;
$porcelain: #f6f8f9;
$oslo-gray: #939495;
$chelsea-cucumber: #8eb359;

$placeholder-color: #a6a6a6;

// Sizes
$base-font-size: 14px;
$content-size: 1140px;
$tablet-size: 1139px;

// Fonts
$main-font: "Open Sans", Arial, sans-serif;
