.main-nav__dropdown-wrapper
  .main-nav__dropdown
    ul.catalog-nav__list
      li.catalog-nav__item
        a(href="").catalog-nav__link
          span.catalog-nav__text Взрослые самокаты
          +icon('chevron-right','catalog-nav__icon')
      li.catalog-nav__item
        a(href="").catalog-nav__link
          span.catalog-nav__text Детские самокаты
          +icon('chevron-right','catalog-nav__icon')
      li.catalog-nav__item
        a(href="").catalog-nav__link
          span.catalog-nav__text Городские самокаты
          +icon('chevron-right','catalog-nav__icon')
      li.catalog-nav__item
        a(href="").catalog-nav__link
          span.catalog-nav__text Складные самокаты
          +icon('chevron-right','catalog-nav__icon')
      li.catalog-nav__item
        a(href="").catalog-nav__link
          span.catalog-nav__text Трюковые самокаты
          +icon('chevron-right','catalog-nav__icon')
      li.catalog-nav__item
        a(href="").catalog-nav__link
          span.catalog-nav__text Электросамокаты
          +icon('chevron-right','catalog-nav__icon')
      li.catalog-nav__item
        a(href="").catalog-nav__link
          span.catalog-nav__text Самокаты с двумя амортизаторами
          +icon('chevron-right','catalog-nav__icon')
      li.catalog-nav__item
        a(href="").catalog-nav__link
          span.catalog-nav__text Самокаты Globber
          +icon('chevron-right','catalog-nav__icon')
      li.catalog-nav__item
        a(href="").catalog-nav__link
          span.catalog-nav__text Самокаты Micro
          +icon('chevron-right','catalog-nav__icon')
      li.catalog-nav__item
        a(href="").catalog-nav__link
          span.catalog-nav__text Самокаты от года
          +icon('chevron-right','catalog-nav__icon')
      li.catalog-nav__item
        a(href="").catalog-nav__link
          span.catalog-nav__text Самокаты Puky
          +icon('chevron-right','catalog-nav__icon')
