.product-prev
  .product-prev__header
    .js-product-prev__slider
      img(src='static/img/content/products/product-2/1.jpg' alt="Изображение товара" data-color="#000000").product-prev__img
      img(src='static/img/content/products/product-2/2.jpg' alt="Изображение товара" data-color="#ffffff").product-prev__img
  .product-prev__body
    .product-prev__info
      span.product-prev__title Беговел Puky LR Ride алюминиевый с тормозом, AIR
      span.product-prev__country Германия
    .product-prev__price
      .product-prev__price-current 11 990 грн
    .product-prev__colors
  .product-prev__footer
    button.btn В корзину
